html {
	height:100%;
	font-family : Trebuchet MS;
}

body {
	height: 100%;
	width:100%;
	background-color: #F6D8CE;

}





nav {
	margin-right:10px;
	float:left;
	background-color : #5f5f5f;
	color:black;
    border: 3px #8B0000 inset;
	vertical-align:top;
	width: 100%;
	text-overflow:auto;
	box-sizing: border-box;
	height:5%;
	padding:1%;
	overflow:hidden;

 }



div {
color : black;
border-radius : 10%;
padding:20px;
}

footer{
	background:#ccc;
	position:absolute;
	bottom:0;
	width:100%;
	padding-top:20px;
	height:50px;
}




ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	position: absolute;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}



@media all and (max-width: 1024px)
{
    ul{
        width: auto;
		font-size:15px;
    }
}
